PORT=3000
NODE_ENV=production
FRONTEND_URL=https://admin.flowhg.online
PUBLIC_WEBHOOK_BASE_URL=https://flowhg.online
COOKIE_DOMAIN=.flowhg.online

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=hgcash_gateway
MYSQL_PASSWORD=change_this_mysql_password
MYSQL_DATABASE=hgcash_gateway

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=1h
COOKIE_NAME=hgcash_gateway_token

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
